.page-img {
  width: 250px;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  margin-left: 150px;
  object-position: top;
  display: block;
}

.home-logo {
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  border-radius: 0%;
  width: 120px;
  float: right;
  margin-right: 1.5rem;
  margin-top: 1.2rem;
}

/* === Page - MOBILE small adjustments === */
@media (max-width: 880px) {
  .page h1 {
    margin-left: 0 ;
    
  }

  .page.container img {
    position: relative !important;
    left: 0;
    right: 0;
    margin: 10px 0px;
    border-radius: 50px;
    max-width: 40vw;
    width: 20dvh;
    height: 20dvh;
    object-fit: cover;
    /* place-self: center; */
    display: flex;
  }
}
